.mb1 {
    margin-bottom: 0.5rem
}

.mt1 {
    margin-top: 1px
}

.page-title {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-weight: bold;
    line-height: 1.25;
}

h4,.h4 {
    font-size: 1.25rem
}


.regular {
    font-weight: normal
}

.body-font {
    font-family: "Merriweather", serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1
}
.gray,.mid-gray {
    color: #aaa
}

.inline-block {
    display: inline-block
}

.justify {
    text-align: justify;
}


.paper_image_size{
    width: 210px;
}


.nav-text {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600
}

.nav-bar{
    background-color: white;
}
.page-title {
    font-size: 2rem;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1
}

/*body {*/
/*    font-family: "Merriweather", serif;*/
/*    -webkit-font-feature-settings: 'kern' 1;*/
/*    -moz-font-feature-settings: 'kern' 1;*/
/*    -o-font-feature-settings: 'kern' 1;*/
/*    color: #2E2E2E;*/
/*    letter-spacing: 0.01rem;*/
/*    line-height: 1.75rem*/
/*}*/

.findme i{
    color: #1e1e1e
}


.pubYearContainer{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600
}

.publications a{
    color: #5b5b5b;
}
.publications .publication-resource{
    padding-right: 8px;
}

.publications .resource_container{
    margin-top: 5px;
}

.publications h6{
    color: #4682b4;
}

.publication-container{
    margin-left: 45px;
}

.direction-title{
    background-color: #797979;
    height: 30px;
}
.direction-title{
    font-size: 20px
}